.btn-green {
    background-color: green;
    color: antiquewhite;
}

.btn-yellow {
    background-color: yellow;
    color: black;
}

.btn-blue {
    background-color: blue;
    color: antiquewhite;
}

.btn-black {
    background-color: black;
    color: antiquewhite;
}

.btn-purple {
    background-color: purple;
    color: antiquewhite;
}
